.Rproj.user
.Rhistory
.RData
data/*.logfile
*_cache/
*_files/
sample_refs/
data/raw/
data/references/
*.pbs
!code/*.pbs
wfit/
exploratory/wfit/
nofit/
exploratory/wofit/
code/full/
exploratory/*.RData
*.Rproj
sra_submission/
*.fastq
*.sra
code/reduced/
code/common/
submission/comments/
code/crc/
code/reduced_crc/
code/adn/
code/reduced_adn/
data/process/mod_metadata/old/
*.pbs.o*

CoverLetter.docx
